/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Sora:wght@400;700&display=swap');

:root{
    --primary-color: #ac26f9;
    --hover-color : #ec960c;
    --dark-color: #21252f;
    --body-color: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.363);
}

/* ********* Universal selector ********  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ********* Universal selector end ********  */

body{
    font-family: sora, "sans-serif";
    line-height: 1.6;
    color: var(--body-color);
}

/* *********** Navbar start *********** */
.navbar-brand{
    height: 45px;
    width: 90px;
    background-color: #f92654;
    font-weight: 700;
    font-size: x-large;
    color: #fff !important;
    letter-spacing: 2px;
    border-radius: 0px 30px 0px 30px;
    text-align: center;
}

@media only screen and (max-width:992px) {
    .navbar-nav {
        align-items: center;
    }
    .download-btn{
        display: none;
    }
}

.nav-item{
    padding-right: 20px;
    font-size: medium;
    text-transform: uppercase;
}

.nav-link{
    color: var(--dark-color) !important;
    font-weight: 600;
}

.nav-link:hover{
    color: #f9a826 !important;
}

.download{
    height: 40px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: large;
    background-color: #f9a826;
    letter-spacing: 1px;
    /* box-shadow: 0px 2px 4px rgb(0,0,0,0.3);  */
    transition: 0.5s;
}
.download:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
/* *********** Navbar end *********** */

/* ******* main text and svg start ********* */
h1, h2, h3, h4, h5, h6,
.display-4{
    color: var(--dark-color);
    font-weight: 700;
}
.background{
    background:linear-gradient(to top right, rgba(39, 37, 33, 0.637)50%, rgba(36, 34, 31, 0.76)), url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;				 
}
.button{
    height: 40px;
    width: 150px;
    outline: none;
    border: none;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn-1{
    background-color: var(--primary-color);
    font-size: large;
}
.btn-1:hover{
    background-color: var(--hover-color);
}
.btn-2{
    background: transparent;
    border: 3px solid var(--primary-color);
    outline: none;
}
.btn-2:hover{
    background-color: var(--primary-color);
}

/* ******* main text and svg end ********* */

/* ********* services section  ******* */
section{
    padding-top: 120px;
    padding-bottom: 30px;
}
h4{
    color: var(--primary-color);
}
p{
    color: var(--dark-color);
}
.card-box{
    background-color: #fff;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 25px;
    box-shadow: var(--box-shadow);
    transition: all 0.35s ease;
}
.card-box:hover{
    transform: translateY(5px);
}
.icon{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 30px;
}
/* services section end  */

/* features section start  */
.active {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    text-align: center;
    font-size: large;
    font-weight: 700;
}
/* features section end  */

/* pricing table start  */
.card-body {
    border: 3px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    transition: all 0.35s ease;
}
.card-body:hover{
    transform: translateY(5px);
}
ul{
    color: var(--dark-color);
}
.btn{
    background-color: var(--primary-color);
    color: #fff;
}
.btn:hover{
    background-color: var(--hover-color);
    color: #fff;
}
/* pricing table end  */

/* footer section start  */
#footer{
    /* margin-top: 50px; */
    background-color: var(--primary-color);
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: var(--dark-color);
}
#button-addon2{
    background-color: var(--dark-color);
}
/* footer section end  */
